*{
    font-weight: bold;
    overflow: hidden;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 97vh;
}

.keys{
    display: flex;
    flex-wrap: wrap;
}

#main-screen{
    min-height: 30vh;
    flex-grow: 1;
    font-size: 10vh;
}

.keys div{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 8px;
    min-height: 10vh;
}

.keys div:not(.red, .grey, .green, .orange):hover{
    background-color: lightskyblue;
}

.keys .red:hover{
    background-color: red;
}

.keys .grey:hover{
    background: grey;
}

.keys .green:hover{
    background-color: greenyellow;
}

.keys .orange:hover{
    background-color: orange;
}

.keys div:hover{
    transform: translateY(-3px);
}

.keys div{
    min-width: 23.7vw;
}
button{
    display: inline-block;
}