*{
    font-weight: bold;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 97vh;
}

.keys{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-shrink: 1;
}

#main-screen{
    min-height: 15vh;
    flex-grow: 1;
    font-size: 10vh;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    flex-shrink: 1;
}

.keys div{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 8px;
    min-height: 10vh;
    min-width: 19.5%;
    font-size: large;
}

.keys div:not(.red, .grey, .green, .orange):hover{
    background-color: lightskyblue;
}

.keys .red:hover{
    background-color: red;
}

.keys .grey:hover{
    background: grey;
}

.keys .green:hover{
    background-color: greenyellow;
}

.keys .orange:hover{
    background-color: orange;
}

.keys div:hover{
    transform: translateY(-3px);
}

button{
    display: inline-block;
}


#calc-info{
    flex-grow: 2;
    min-height: 15vh;
    display: flex;
    flex-direction: row-reverse;
    font-size: 8vh;
}

.screen{
    display: flex;
    flex-direction: column;
    margin: 1em;
    border: 1px solid goldenrod;
}

.calculator{
    width: 350px;
    border: 1px solid red;
    margin: 0 auto;
    text-align: center;
}